<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Config for OCR</title>
    <script src="../static/vue.js"></script>

    <!--引入 element-ui 的样式，-->
    <!-- 必须先引入vue，  后使用element-ui -->
    <!-- 引入element 的组件库-->
    <script src="../static/index.js"></script>
    <script src="../static/axios.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/index.css"> -->

</head>
<style>

</style>

<body>
    <div id="box" class="box">
        <template>
            <el-container>

                <el-container>
                    <el-main>
                        <el-tabs tab-position="left" style="height: 700px;">
                            <el-tab-pane>
                                <span slot="label"><i class="el-icon-setting"></i> CONFIG</span>
                                <el-row :gutter="20">
                                    <el-container>
                                        <el-header>
                                            <el-alert title="Change The Config If You Want To" type="success" center
                                                :closable="false">
                                            </el-alert>
                                        </el-header>
                                        <el-main>
                                            <el-col :span="12" :offset="6">
                                                <el-tabs type="border-card" v-model="activeName">
                                                    <el-tab-pane v-for="item in configList" :label="item.lan"
                                                        :name="item.lan">
                                                        <el-form label-width="100px" class="demo-ruleForm">
                                                            <el-form-item label="reference">
                                                                <el-input type="textarea" :rows="8"
                                                                    v-model="item.references">
                                                                </el-input>
                                                            </el-form-item>
                                                            <el-form-item label="amount">
                                                                <el-input type="textarea" :rows="8"
                                                                    v-model="item.amount">
                                                                </el-input>
                                                            </el-form-item>
                                                            <el-form-item>
                                                                <el-button type="primary" @click="onSubmit">SAVE
                                                                </el-button>
                                                                <el-button>CANCEL</el-button>
                                                            </el-form-item>
                                                        </el-form>


                                                    </el-tab-pane>
                                                </el-tabs>

                                            </el-col>
                                        </el-main>
                                    </el-container>


                                </el-row>
                            </el-tab-pane>
                            <el-tab-pane>
                                <span slot="label"><i class="el-icon-document-copy"></i> ACCESS RESULT</span>
                                <el-select v-model="value" placeholder="choose file" @change="readFile">
                                    <el-option v-for="item in fileList.excelList" :key="item" :label="item"
                                        :value="item">
                                    </el-option>
                                </el-select>
                                <a href="/file/Birgit%20Klaerner,%20reh%202808,%20FI%20FS%20IS-DE_2020_11_27_12_56_53_page_0.xls"></a>
                                
                            </el-tab-pane>

                        </el-tabs>

                    </el-main>
                </el-container>


            </el-container>


        </template>

    </div>
</body>
<style>
    @import url("//unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css");
</style>
<script>
    new Vue({
        //    此处指向vue组件所要渲染的DOM标签 <div id="box"></div>   el:'#box'  用id属性标识 也可用class属性
        // 如果是class <div class="box"></div>   el:'.box' 
        // 总之最外层div用class或id绑定js ，下面el对应body对外层div选择器名称，绑定之后才可以使用elementui中组件内容
        el: '#box',
        data() {
            return {
                activeName: 'german',
                configList: [],
                flag: false,
                fileList: [],
                value: ""
            }
        },
        mounted: function () {
            this.getFileList();
            this.getConfig();

        },
        methods: {
            getFileList() {
                _this = this;
                axios.get('/getFileList').then(res => {
                    _this.fileList = res.data
                    console.log(res.data)
                })
            },
            readFile(){

            },
            onSubmit() {

                var _this = this;
                this.$confirm('Are You Sure To Change The Config?', '提示', {
                    confirmButtonText: 'Sure',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                }).then(() => {
                    axios.post('/saveTemplate', {
                        data: _this.configList
                    }).then(res => {
                        this.$message({
                            type: 'success',
                            message: 'success!'
                        });
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Cancel'
                    });
                });

            },
            getConfig() {
                var _this = this;
                // Make a request for a user with a given ID
                axios.get('/getTemplate')
                    .then(function (response) {
                        // handle success
                        _this.configList = response.data.data;
                        console.log(_this.configList);
                        _this.flag = true;
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            }
        }
    })   
</script>

</html>